@charset "UTF-8";

#i_dox{
	margin: auto;
}

#inquiries{
	color: #333;
	border-bottom: 2px solid #222;
	padding-bottom: 20px;
	font-weight: bold;
}

.inquiries_writing{
	text-align: right;
}

.i_btn_writing{
	text-align: right;
	background-color: transparent;
	padding: 8px 18px;
	border: 1px solid #043763;
}

.i_btn_writing:active {
	border: 3px solid rgb(255, 149, 0);
}

.i_select_box{
	font-size: 15px;
	margin-top: 25px;
}

.i_select{
	text-align: right;
}

.inquiries_info{
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
	margin-top: 10px;
}

.inquiries_table{
		font-size: 13pt;
	}
	
.i_title{
	width: 50%;
	text-align: center;

}

.i_list{
	text-align: center;
}

#i_empty_message{
	text-align: center;
	color: red;
	font-size: 25px;
	font-weight: bold;
	margin: 100px;	
}

.i_list_on{
	text-align: center;
}

.r_page_menu{
		text-align: center;
		font-size: 12pt;
		margin-top: 10px;

}
	
.r_page_menu > a{
		display: inline-block;
		color: gray;	

}

#insertform_box{
	width: 900px;
	margin: auto;
	margin-top: 50px;
}

textarea {
		width: 100%;
		resize: none;
			
	}
	
.insertform_writing_btn{
	text-align: right;
	background-color: transparent;
	padding: 8px 18px;
	border: 1px solid #043763;
	margin-right: 5px;

}

.insertform_writing_btn:active{
	border:3px solid rgb(255, 149, 0);
}

.insertform_insert_btn{
	text-align: right;
	background-color: transparent;
	padding: 8px 18px;
	border: 1px solid #043763;
}

.insertform_insert_btn:active {
	border:3px solid rgb(255, 149, 0);
}









