@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&family=Grandiflora+One&family=Hahmlet:wght@100;500&family=Noto+Sans+KR:wght@400;600&family=Song+Myung&display=swap');

/*------ admin-dashboard by Jin -------*/

.flower-dashboard{
	width: 80%;
	font-family: 'Noto Sans KR', sans-serif;
}

.flower-to-do {
	background-color: #abd373;
	color: #444444;
	font-size: 35px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	width: 200px;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	
}
.flower-to-do a:hover{
	color: #fff;
}

#flower-dashboard-report {
	background-color: #ffc107;
}


.flower-stats{
	display: inline-block;
	text-align: center;
} 

.flower-dashboard-bottom {
	
}

.flower-dashboard-bottom-left{
	width: 50%;	
}


.flower-dashboard-bottom-right{
	width: 50%;
}

.chart-title {
	
}

/*------ header-logo(text) by Jin -------*/
.header-logo-text {
	text-align: center;
	font-family: 'Gowun Batang', serif;
	font-size: 25px;

	
}

.header-logo-abbr {
	position: absolute;
	justify-content: center;
	opacity: 0;
	animation-name: inAndOut;
}

.header-logo-text:hover{
	color: #F4BF96;
	font-weight: 100;
}

#logo1, #logo2, #logo3, #logo4 {
	font-weight: 900;
	color: #363062;
}

#logo3 {
	position: absolute;
	animation-name: inAndOut;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}

#logo4 {
	position: relative;
	opacity: 0;
	left: 0;
	top: 0;
	animation-name: inAndOut;
	animation-delay: 4s;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}

@keyframes appear{
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes inAndOut{
	0% { opacity: 0; }
	5% { opacity: 0; }
	45% { opacity: 1; }
	50% { opacity: 1; }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


/*--------- 메인 페이지: 사진 리스트 -----------*/
/*---'Noto Sans KR', sans-serif ---*/
/* 이미지 사진 크기 조절 */
.product-img-jin {
    width: 270px; 
    height: 360px;
}

.main-product-title-jin {
	font-family: 'Gowun Dodum', sans-serif;
	font-weight: 400;
	font-size: 25px;
	text-align: right;
		
}

.main-product-season-jin {
	font-family: 'Gowun Dodum', sans-serif;
	font-weight: 500;
	font-size: 30px;
	text-align: center;
		
}

.main-product-price-jin {
	font-size: 20px;
	text-align: right;
	color: #330033;
}

.product-img-jin {
	border-radius: 5px;
}

/*---- 상품 목록 정렬/검색 조건 바-------*/

#product-filter-form li{
	display: inline-block;
	margin-left: 5px;
}

#filter-title {
	font-size: 30px;
	font-weight: 300;
	
}

#product-filter-apply {
	margin-right: 20px; 
}

.product-filter-bar-jin {
	font-family: 'Gowun Dodum', sans-serif;
	font-weight: 200;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #ddd;
	
}


.filter-sort-jin{
	top: 15px;	
}

.filter-submit {
	width: 100px;
	padding-top: 7px;
	padding-bottom: 7px;
}


/*--------------- 상품 목록 사진(td안에 사진) -----------------*/

.product-list-jin img{
	border-radius: 5px;
}

/*--------------- 상품 상세 하단 -----------------*/
.product-info-jin {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
}



/*----------- footer -------------*/

.footer-jin {
	padding-bottom: 20px;
	padding-top: 20px;
}

.footer-info-jin {
	font-weight: 400;
}

#footer-owner-info-jin {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	font-size: 15px;
	padding-top: 15px;
}

.footer-policy-jin {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	padding-top: 25px;
}