<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyDAO">

	 <select id="getCompanyPolicy" resultType="com.flower.vo.CompanyVO">
        SELECT * FROM COMPANY_POLICY;
    </select>

</mapper>