<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiries">
	 <select id="inquiriesSelect" resultType="com.flower.vo.InquiriesVO">
	 
	 	select * from inquiries order by inquiries_id desc
	 
	 </select>
	 
	 <insert id="inquiriesInsert" parameterType="com.flower.vo.InquiriesVO">
	 	INSERT INTO inquiries(inquiries_id, member_id, inquiries_category, inquiries_title, inquiries_cotent, inquiries_register_date)
	 	VALUES( 
	 			#{ inquiries_id },
	 			#{ member_id },
	 			#{ inquiries_category },
	 			#{ inquiries_title },
	 			#{ inquiries_cotent },
	 			now()
			   )	
	 </insert>
	 
	<!--  
	 조건별 조회
	<select id="inquiriesListCondition" parameterType="Map" resultType="com.flower.vo.InquiriesVO">
		select * from
		(
			select
				rank() over(order by inquiries_id desc) as no,
				b.*
			from 
			(
				select * from inquiries
				<trim prefix="where" prefixOverrides="or">
					<if test="id!=null">
						member_id like '%' || #{ member_id } || '%'
					</if>
					<if test="title!=null">
						inquiries_title like '%' || #{ inquiries_title } || '%'
					</if>
					<if test="content!=null">
						or inquiries_cotent like '%' || #{ inquiries_cotent } || '%'
					</if>
					<if test="regdate!=null">
						to_char(inquiries_register_date, 'YYYY-MM-DD') = #{ inquiries_register_date }
					</if>
				</trim>
			) b
		)
		where no between #{ start } and #{ end }
		
	</select>
	  
	검색 조건별 게시물수 구하기
	<select id="inquiriesConditionRowTotal" parameterType="Map" resultType="int">
		
		select nvl(count(*),0) from inquiries
		
		<trim prefix="where" prefixOverrides="or">
			<if test="id!=null">
				member_id like '%' || #{ member_id } || '%'
			</if>
			<if test="title!=null">
				inquiries_title like '%' || #{ inquiries_title } || '%'
			</if>
			<if test="content!=null">
				or inquiries_cotent like '%' || #{ inquiries_cotent } || '%'
			</if>
			<if test="regdate!=null">
				to_char(inquiries_register_date, 'YYYY-MM-DD') = #{ inquiries_register_date }
			</if>
		</trim>
		
		
	</select>
	
	전체 게시물수 구하기
	<select id="inquiriesRowTotal" resultType="int">
		select nvl(count(*),0) from inquiries
		
	</select>
	 -->
	 
	 <!-- Mypage select inquiries -->
	 <select id="MypageSelectInquiry" parameterType="com.flower.vo.MemberVO" resultType="com.flower.vo.InquiriesVO">
	 select INQUIRIES_TITLE, INQUIRIES_REGISTER_DATE , INQUIRIES_COTENT, INQUIRIES_ANSWER_CONTENT , INQUIRIES_ANSWER_YN 
	 from inquiries i join member m on i.MEMBER_ID = m.MEMBER_ID
	 where m.MEMBER_ID = #{member_id}
	 </select>
</mapper>
