<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	 
	<insert id="insertMember" parameterType="com.flower.vo.MemberVO">	
	INSERT INTO member
	(
		  MEMBER_ID
		, ADMIN_STATUS
		, MEMBER_EMAIL
		, MEMBER_PASSWORD
		, MEMBER_NAME
		, MEMBER_REGISTER_DATE
	) 
	VALUES
	(
		  #{MEMBER_ID}
		, #{ADMIN_STATUS}
		, #{MEMBER_EMAIL}
		, #{MEMBER_PASSWORD}
		, #{MEMBER_NAME}
		, #{MEMBER_REGISTER_DATE}
	)
	</insert>
	
</mapper>
