<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberDAO">
	 
	 <!-- 회원가입 -->
	<insert id="register" parameterType="com.flower.vo.MemberVO">	
	INSERT INTO MEMBER
	(
		 MEMBER_EMAIL
		, MEMBER_PASSWORD
		, MEMBER_NAME
		, MEMBER_REGISTER_DATE
	) 
	VALUES
	(
		 #{member_email}
		, #{member_password}
		, #{member_name}
		, NOW()
	)
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="com.flower.vo.MemberVO">
		select *   
		from member
		where member_email = #{member_email}
		and member_password = #{member_password}
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="idChk" resultType="int">
		select count(*) from member
		where member_email = #{member_email}
	</select>
	
	<!-- 이메일 찾기 -->
	<select id="findEmailChk" parameterType="String" resultType="String">
		select member_email from member
		where member_email = #{member_email}
	</select>
	
		<!-- 마이페이지 비밀번호 업데이트 -->
	<update id="updatePassword" parameterType="com.flower.vo.MemberVO">
		UPDATE member set member_password = #{member_password}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 마이페이지 회원 탈퇴 -->
	<update id="memberWithdrawal">
		UPDATE member set member_status = 'L' , member_leave_date = now()
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 비밀번호 초기화(찾기) -->
	<update id="changePassword" parameterType="com.flower.vo.MemberVO">
		update member set member_password = #{member_password}
		where member_email = #{member_email}
	</update>
	
	
	
	<!-- 로그인 시, 해당 회원의 장바구니 상품 목록 개수 불러오기 by 최진화 -->
	<select id="getCartQuan" parameterType="com.flower.vo.MemberVO" resultType="Integer">
		SELECT count(sc.SHOPPING_CART_ID) member_cart_quan
		FROM shopping_cart sc
		GROUP BY sc.MEMBER_ID
		HAVING sc.member_id = #{member_id}
	</select>

	

</mapper>