<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShoppingCartDAO">

	<!-- 장바구니에 담기 -->
	<insert id="addCart" parameterType="com.flower.vo.ShoppingCartVO">
		INSERT INTO shopping_cart (member_id, product_id, shopping_cart_product_quantity)
		VALUES (#{member_id}, #{product_id}, #{shopping_cart_product_quantity})
	</insert>
	
	<!-- (로그인한 회원의) 장바구니에 담긴 상품 목록 불러오기-->
	<select id="getCartList" parameterType="com.flower.vo.MemberVO" resultType="com.flower.vo.ShoppingCartVO">
		SELECT sc.shopping_cart_id, sc.member_id, sc.PRODUCT_ID, pi2.product_name, pi2.product_price, sc.SHOPPING_CART_PRODUCT_QUANTITY, pi2.PRODUCT_IMAGE_FILE_NAME 
		FROM shopping_cart sc
		INNER JOIN (
		SELECT img.product_image_file_name, p.product_name, p.product_price, p.product_id
		FROM product_image img
		INNER JOIN product p
		ON img.product_id = p.product_id
		WHERE img.product_image_froute = 'list'
		AND img.product_image_file_name LIKE '%1.%g'
		) pi2
		ON sc.PRODUCT_ID = pi2.PRODUCT_ID
		WHERE member_id = #{member_id}
	</select>
	
	<!-- (로그인한 회원의) 장바구니에 담긴 상품 목록의 총액 계산하여 리턴 -->
	<select id="getCartTotal" parameterType="com.flower.vo.MemberVO" resultType="Integer">
		SELECT sum(p.product_price * sc.SHOPPING_CART_PRODUCT_QUANTITY) total_cart
		FROM product p
		INNER JOIN shopping_cart sc
		ON p.PRODUCT_ID = sc.PRODUCT_ID
		WHERE sc.MEMBER_ID = #{member_id} 
	</select>
	
	<!-- 장바구니에 담긴 상품 수량 변경 -->
	<update id="updateCartProdQuan" parameterType="com.flower.vo.ShoppingCartVO">
		UPDATE shopping_cart
		SET SHOPPING_CART_PRODUCT_QUANTITY = #{shopping_cart_product_quantity}
		WHERE SHOPPING_CART_ID = #{shopping_cart_id}
	</update>
	
	<!-- 장바구니에 담긴 상품 삭제 -->
	<delete id="deleteCartProd" parameterType="com.flower.vo.ShoppingCartVO">
		DELETE FROM shopping_cart
		WHERE SHOPPING_CART_ID = #{shopping_cart_id}
	</delete>
	
	<!-- 선택한 상품의 선택 상태(selected) 조회 -->
	<select id="isSelected" parameterType="com.flower.vo.ShoppingCartVO" resultType="Integer">
		SELECT selected
		FROM shopping_cart
		WHERE SHOPPING_CART_ID = #{shopping_cart_id}
	</select>

		
	<!-- 장바구니에 담긴 상품 일부 선택 -->
	<update id="selectCartProd" parameterType="com.flower.vo.ShoppingCartVO">
		UPDATE shopping_cart
		SET selected = 1
		WHERE shopping_cart_id = #{shopping_cart_id}
	</update>
	
	<!-- 장바구니에서 이미 선택된 상품 선택 해제-->
	<update id="unselectCartProd" parameterType="com.flower.vo.ShoppingCartVO">
		UPDATE shopping_cart
		SET selected = 0
		WHERE shopping_cart_id = #{shopping_cart_id}
	</update>
	
</mapper>